:root.theme-light {
  --title-color: #ffc2e6;
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --accent-title-color: #353430;
  --accent-subtitle-color: #353430;
  --decor-color: #353430;
  --background-color: #fff1f7;
  --hover-button-color: #32312d66;
  --url-cover-image: url(../images/cover-image-light.png);
}

.theme-light .header__decorative {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --accent-title-color: #353430;
    --accent-subtitle-color: #353430;
    --decor-color: #353430;
    --background-color: #fff1f7;
    --hover-button-color: #32312d66;
    --url-cover-image: url(../images/cover-image-light.png);
  }

  .header__decorative {
    display: none;
  }
}
