.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  padding: 75px 10px 66px;
  background-image: var(--url-cover-image);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 13px;
  padding-block-end: 65px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--accent-color);
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-button-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  cursor: initial;
}

.header__theme-menu-button_active:hover {
  border-color: initial;
}

.header__decorative {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  line-height: 1.4em;
}

.header__decorative::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__title {
  margin-bottom: 55px;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 6rem;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  font-weight: 700;
}

main {
  padding: 0 10px;
}

.signs {
  margin-block-start: 40px;
  margin-block-end: 50px;
}

.reasons {
  margin-block-end: 50px;
}

.advice {
  margin-block-end: 50px;
}

.main__title {
  margin-block-end: 20px;
  color: var(--accent-color);
  font-size: 1em;
  line-height: 1.3em;
}

.main__topics-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__topic-title {
  margin-block-end: 10px;
  font-size: 1em;
}

.main__topic-text {
  line-height: 1.3em;
}

.main__topic-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main__topics-title {
  font-size: 1em;
}

.main__topic-title__advice {
  font-weight: 400;
}
